<div class="adversement container">
    <h1>Welcome to Alpha Blog</h1>
</div>

<div class="c-article container">
    <h3>Recent Articles</h3>
    <div class="article article-one">
        <div class="image_container">
        
        </div>
        <div class="text-container">
        <h2>Article One</h2>
        </div>
    </div>
    <div class="article article-two">
        <div class="image_container">
        
        </div>
        <div class="text-container">
            <h2>Article two</h2>
        </div>
    </div>
</div>

<footer>
    <h6>Alpha Blog &copy;2021</h6>
</footer>

